<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>
    <h1 style="margin-left: 40%; margin-top: 50px;">Sign In</h1>

    <div style="padding-left: 40%;">
        <label for="username" style="display: block; margin-top: 20px;">
            Username: 
            <input type="text" name="username" id="username">
        </label>
        <label for="password" style="display: block; margin-top: 20px;">
            Password:
            <input type="text" name="password" id="password">
        </label>
        <input type="button" value="Submit" style="display: block; margin-top: 20px;">
    </div>
 
</body>
 
</html>